{% extends "layout/base.html" %}
{% block css %}
<link href="{{url_for('static', filename='css/background.css')}}" rel="stylesheet" />
{% endblock %}
{% block content %}
<section class="reg-form background-image">
  <form action="{{ current_auth_link }}" method="POST">
    <div class="container card p-3 bg-light">
      <br>
      <h2>{{ auth_mode }}</h2><br>
      <div class="form-group">
        <input name="username" type="username" class="form-control form-control-lg" id="username" placeholder="Enter username" minlength="5" maxlength="50" required><br>
      </div>
      <div class="form-group">
        <input name="password" type="password" class="form-control form-control-lg" id="password" placeholder="Enter password" required><br>
      </div>
      <button type="submit" class="btn btn-primary">{{ auth_mode }}</button><br>
      <p>{{ alternative_auth_prompt }}<a href="{{ alternative_auth_link }}"
          class="link-info">{{ alternative_auth_mode }}</a></p>
    </div>
  </form>
</section>
{% endblock %}