/* Registration/Log in form */

.reg-form {
    display: block;
    margin: 5%;
    position: center;
}

@media (min-width: 768px){
.reg-form {
    display: block;
    float: none;
    position: center;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}}

@media only screen and (min-width: 1024px) {
    .reg-form {
        display: block;
        float: none;
        position: center;
        width: 30%;
        margin-left: 35%;
        margin-right: 35%;
    } 
} 


h2{
    text-align: center;
}