/* Registration/Log in form */

.reg-form {
    padding-top: 4rem;
    display: block;
    margin: 5%;
    position: center;
}

@media (min-width: 768px){
.reg-form {
    padding: 4rem;
    display: block;
    float: none;
    position: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}}

@media only screen and (min-width: 1024px) {
    .reg-form {
        padding: 4rem;
        display: block;
        float: none;
        position: center;
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
    } 
} 

h2{
    text-align: center;
}

/*Error pages*/
.error-card{
    display: block;
    float: none;
    position: center;        
    width: 60%;
    padding-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}


#sad-cupcake{
    width: 30%;
    margin-bottom: 5%;
}

/*Recipe form */
.recipe-form {
    padding-top: 4rem;
    display: block;
    margin: 5%;
    position: center;
}

@media (min-width: 768px){
.recipe-form {
    padding: 4rem;
    display: block;
    float: none;
    position: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}}

@media only screen and (min-width: 1024px) {
    .recipe-form {
        padding: 4rem;
        display: block;
        float: none;
        position: center;
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
    } 
} 

/* Recipe preview card */
.preview-card {
    margin: 2%;
    text-align: center;
    border-radius: 5%;
    width: 25%;
    box-shadow: 5px 10px 8px 10px #888888;
    background-color: #a6b2d4;
}

.card-body {
    align-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: white;
    border-radius: 10%;
    box-shadow: 2.5px 5px 4px 5px #888888;
}

.details-body {
    position:relative;
    margin-bottom: 10%;
    width: 80%;
    background-color: white;
    border-radius: 10%;
    box-shadow: 2.5px 5px 4px 5px #888888;
}

