/* Registration/Log in form */

.reg-form {
    padding-top: 4rem;
    display: block;
    margin: 5%;
    position: center;
}

@media (min-width: 768px){
.reg-form {
    padding: 4rem;
    display: block;
    float: none;
    position: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}}

@media only screen and (min-width: 1024px) {
    .reg-form {
        padding: 4rem;
        display: block;
        float: none;
        position: center;
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
    } 
} 

h1, h2 {
    text-align: center;
}

/*Error pages*/
.error-card{
    display: block;
    float: none;
    position: center;
    width: 60%;
    padding-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}


#sad-cupcake{
    width: 30%;
    margin-bottom: 5%;
}

/*Recipe form */
.recipe-form {
    padding-top: 4rem;
    display: block;
    margin: 5%;
    position: center;
}

@media (min-width: 768px){
.recipe-form {
    padding: 4rem;
    display: block;
    float: none;
    position: center;
    margin-left: 5%;
    margin-right: 5%;
}}

@media only screen and (min-width: 1024px) {
    .recipe-form {
        padding: 4rem;
        display: block;
        float: none;
        position: center;
        margin-left: 15%;
        margin-right: 15%;
    } 
} 

/* Recipe preview card */
.preview-card {
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    box-shadow: 3px 6px 8px 2px #888888;
    background-color: #a6b2d4;
}

.card-body {
    align-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: var(--bs-white);
    box-shadow: 3px 6px 8px 2px #888888;
}

#recipe-detail-header {
    padding: 8rem 0 2rem 0;
}

.details-body {
    margin-bottom: 10%;
}

#masthead-logo{
    width:30%;
    margin-bottom: 3%;
}

.btn-delete {
	color: var(--bs-white);
	background-color: #ff0000;
	border-color: #c00606;
}

.btn-delete:hover {
    color: var(--bs-white);
	background-color: #960707;
	border-color:#5e0404;
}

.btn-edit {
    color: var(--bs-white);
	background-color: #e2800f;
	border-color: #c7700c;
}

.btn-edit:hover {
    color: var(--bs-white);
	background-color: #c06c0c;
	border-color: #b46305;
}

/* hide prompts by default */

#ingredient-input-prompt {
    display: none
}

#instruction-input-prompt {
    display: none
}

.prompt-text:hover {
    color: #8673c2 !important;
}
/*Facebook share button by Justin Cron, available at: https://codepen.io/justincron/pen/ZEKbev */

.btn-facebook {
	color: #fff;
	background-color: #4C67A1;
}
.btn-facebook:hover {
	color: #fff;
	background-color: #405D9B;
}
.btn-facebook:focus {
	color: #fff;
}

.cupcake-avatar-container{
    margin-top: 5%;
    text-align: center;
}

.cupcake-avatar{
    margin-top: 5%;
    margin-bottom: 10%;
    box-shadow: 3px 6px 8px 2px #888888;
    background-color: #a6b2d4;
}

@media (min-width: 768px){
.cupcake-avatar{
    max-width: 40%;
}}

.form-label{
    margin-top: 3%;
    margin-bottom: 1%;
    font-size: 1.2rem;
    font-weight: 500;
}

#pagination-button-row > nav {
	display: flex;
	justify-content: center;
}

#pagination-button-row a {
	/* change this to change number colour */
	color: #6c757d;
}

#pagination-button-row .page-item.active .page-link {
	/* change this to change button background on hover */
	background-color: #9aa8d3;
	border-color: #7386c2;
}