{% extends "layout/base.html" %}
{% block content %}

<!-- Recipe Details Section-->
<section class="page-section" id="recipe-detail-header">
    <div class="container">
        <!-- Recipe Details Section Heading-->
        <h2 class="
   page-section-heading
   text-center text-uppercase text-secondary
   mb-0
 ">Let's bake this cupcake!
        </h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
</div>
</section>
<!--Recipe details card -->
<section class="container-fluid details-body">
    <div class="row">
      <!-- Recipe text-->
      <div class="col-12 col-sm-6 mx-auto">
        <div class="d-flex flex-column h-100 justify-content-center">
        </br>
            <h2>{{ name }}</h2>
            <br />
            <p>Created by {{ author_name|title }}</p>
            <h3>Ingredients</h3>
            <ul>
            {% for ingredient in ingredients %}
            <li>{{ ingredient }}</li>
            {% endfor %}
            </ul>
            <br />
            <h3>Instructions</h3>
            <ol>
              {% for instruction in instructions %}
                <li>{{ instruction }}</li>
              {% endfor %}
            </ol>
            </br>
            <div>
            <a href="{{url_for('recipes')}}" class="btn btn-primary">Go to recipes!</a>
            {% if session["user"] == author_id or admin_access %}
            <a href="{{url_for('edit_recipe', recipe_id=id)}}"class="btn btn-edit">Edit Recipe</a>
            <a id="delete-recipe-button" class="btn btn-delete" data-delete-link="{{url_for('delete_recipe', recipe_id=id)}}">Delete Recipe</a>
            {% endif %}
        </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}

{% block scripts %}
<script src="{{ url_for ('static', filename='js/recipe-details.js')}}"></script>
{% endblock %}