	<!-- Register/Log in Section Heading  ONLY SHOW THIS SECTION IF NOT LOGGED IN -->
	<section class="page-section forms" id="forms">
		<br>
		<h2 class="page-section-heading text-center text-uppercase text-secondary">
			Register or Log in
		</h2>
		<!-- Icon Divider-->
		<div class="divider-custom divider-dark">
			<div class="divider-custom-line"></div>
			<div class="divider-custom-icon"><i class="fas fa-star"></i></div>
			<div class="divider-custom-line"></div>
		</div>
		<!-- Register/Log in Section Content-->
		<div class="container">
			<div class="row">
				<div class="col d-flex justify-content-center">
					<p class="lead">
						<a href="{{url_for('register')}}" class="text-reset">Register</a> or <a href="{{url_for('login')}}"
							class="text-reset">Log in</a>
						to write, share and edit your cupcake recipes!
					</p>
				</div>
			</div>
		</div>
	</section>