	<!-- Register/Log in Section Heading  ONLY SHOW THIS SECTION IF NOT LOGGED IN -->
	<section class="page-section forms" id="forms">
		<br>
		<h2 class="page-section-heading text-center text-uppercase text-secondary">
			Register or Log in
		</h2>
		<!-- Icon Divider-->
		<div class="divider-custom divider-dark">
			<div class="divider-custom-line"></div>
			<div class="divider-custom-icon"><i class="fas fa-star"></i></div>
			<div class="divider-custom-line"></div>
		</div>
		<!-- Register/Log in Section Content-->
		<div class="row">
			<div class="col-lg-4 ms-auto">
				<p class="lead">
					REGISTER / LOGIN TO SHARE YOUR RECIPE
					BIG TEXT TO REGISTER/LOGIN (REDIRECTS TO REGISTER/LOGIN PAGE) a href=""
				</p>
			</div>
			<div class="col-lg-4 me-auto">
				<p class="lead">
					Register/Log in form here
				</p>
			</div>
		</div>
		</div>
	</div>
</section>