{% extends "layout/base.html" %}
{% block content %}
<section>
    <div class="containerp-5 my-5 error-card">
        <div class="row">
            <div>
                <h2>Something's gone wrong!</h2><br>
                <img src="/assets/img/sad-cupcake.png" alt="sad cupcake"><br>
                <h2>Error 404</h2><br>
                <p>Are you lost?</p> <br>
                <p>Use either of the navigation bar links above, or the button provided to make your way back to your cupcakes.</p><br>
                <button type="submit" class="btn btn-primary">Go back</button><br>
            </div>
        </div>
    </div>
</section>
{% endblock %}