{% extends "layout/base.html" %}
{% block content %}
<section class="reg-form">
<form style="margin-top: 10rem">
	<div class="container card p-3 bg-light">
       <br><h2>Register here</h2><br>
  <div class="form-group"> 
 
    <input type="name" class="form-control form-control-lg" id="name" aria-describedby="emailHelp" placeholder="Enter name"><br>
</div>
  <div class="form-group">
  
    <input type="password" class="form-control form-control-lg" id="password" placeholder="Enter password"><br>
  </div>
  <button type="submit" class="btn btn-primary">Register</button><br>
  <p>Already have an account? <a href="#!" class="link-info">Log in here</a></p>
</div>
</form>
</section>
{% endblock %}