<!-- Footer-->
<footer class="footer text-center mt-auto">
	<div class="container">
		<div class="row">
			<!-- Footer Social Icons-->
			<div>
				<a href="https://github.com/DoriCzele" rel="noopener" target="_blank" aria-label="Open github">
					<i class="fab fa-github btn-social"></i></a>
			  <a href="https://www.linkedin.com/in/dorottya-czele-4b739115a/" rel="noopener" target="_blank" aria-label="Open linkedin">
					<i class="fab fa-linkedin btn-social"></i></a>
			</div>
		</div>
	</div>
</footer>