{% extends "layout/base.html" %}
{% block content %}

<!-- Recipes Section-->
<section class="page-section portfolio" id="recipes">
  <div class="container">
    <!-- Recipes Section Heading-->
    <h2 class="
   page-section-heading
   text-center text-uppercase text-secondary
   mb-0
 ">
      Recipes
    </h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Recipes Grid Items-->
    <div class="row justify-content-center">
      {% for recipe in recipes %}
      {% include "components/recipe.html" %}
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}