{% extends "layout/base.html" %}
{% block content %}

<!-- Recipes Section-->
<section class="page-section" id="recipes">
  <div class="container">
    <!-- Recipes Section Heading-->
    <br>
    {% if username %}
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">
      {{ username }}'s Recipes
    </h2>
    {% else %}
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">
      Recipes
    </h2>
    {% endif %}
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Recipes Grid Items-->
    <div class="container-fluid">
      <div class="row justify-content-evenly">
        {% if num_recipes > 0 %}
        {% for recipe in recipes %}
        {% include "components/recipe-preview.html" %}
        {% endfor %}
        {% else %}
        <h2>There are no recipes here yet!</h2>
        {% endif %}
      </div>
    </div>
    
  </div>
</section>
{% endblock %}